* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100px;
    background: linear-gradient(to right, #66A3D2, 	#033E6B);
    box-shadow: 0 0 10px blue;
}
a {
    text-decoration: none;
}
li {
    text-decoration: none;
    list-style: none;
}
.logo {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: left;
}
.imglogo {
    height: 100px;
}
.header-div {
    display: flex;
}
nav {
    margin: auto;
    width: 800px;
}
.topnav {
    font-size: 20px;
    
}
.topnav a {
    color: #fff;
    text-align: center;
    padding: 14px 16px;
}
.topnav a:hover {
    border-bottom: 2px solid #fff;
}
.topnav .icon {
    display: none;
}
@media screen and (max-width: 887px) {
    .topnav {
        top: 150px;
        background: linear-gradient(to right,#326e9c,#033E6B);

    }
    .topnav a {
        display: none;
        color: #FFF;
    }
    .topnav a.icon {
        float: right;
        display: block;
        color: #FFF;
    }
    .topnav.responsive {
        position: relative;
        width: 100%;
        z-index: 1;
    }
    .topnav.responsive a.icon {
        position: absolute;
        bottom: 199px;
        right: 0px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    header {
        height: 150px;
        align-items: center;
    }
    .header-div {
        height: 150px;
    }
    .logo {
        height: 150px;
    }
    .imglogo {
        margin-top: 25px;
    }
}

.img-ref {
    align-items: center;
    margin-left: 30px;
}





footer {
    background: linear-gradient(to right, #66A3D2, 	#033E6B);
    height: 240px;
}
.footer-div {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}
footer div {
    margin-top: 25px;
    width: 250px;
}
footer div h1{
    margin-bottom: 15px;
}
footer div h3{
    margin-bottom: 15px;
}
footer div p{
    margin-bottom: 15px;
    font-size: 20px;
}
.footer-table tr td {
    width: 50px;
    height: 50px;
    background-color: white;
    text-align: center;
}
.footer-table tr td .fab{
    font-size: 30px;
    transition: 0.3s;
}
.footer-table tr td .fab:hover{
    transform: scale(1.5);
}
.footer-flex {
    margin: 20px 20px;
}
.fa-instagram {
    color: #e15e5d;
}
.fa-facebook-square {
    color: #4267b2;
}
.fa-telegram {
    color: #1288c3;
}
.fa-twitter-square {
    color: #1da1f2;
}
.fa-viber {
    color: #7d519e;
}
.fa-vk {
    color: #5181b8;
}