.fon {
    position: relative;
    width: 100%;
    opacity:0.4;
    height: 100%;
}
.fon-image { 
    background: #000;
}

.div-wr {
    position: absolute;
    top: 50%;
    left: 35%;
    color: #FFF;
    font-size: 55px;
}


.heading {
    margin: 20px auto;
    width: 20%;
    text-align: center;
}